<div class="container-fluid py-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5>Libros</h5>
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    @foreach (var libro in (IEnumerable<dynamic>)ViewData["libros"])
                                    {
                                        <tr>
                                            <td>@libro.nombre</td>
                                            <td>@libro.nombreAutor</td>
                                            <td>@libro.precioL</td>
                                            <td class="text-end">
                                                <form asp-controller="Libros" asp-action="AgregarLibros" method="post">
                                                    <input type="hidden" name="IdPedido" value="@ViewData["IdPedido"]" />
                                                    <input type="hidden" name="IdLibro" value="@libro.id" />
                                                    <button type="submit" class="btn btn-success">+Agregar</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Total Libros</h5>
                </div>
                <div class="col-sm-6 d-flex justify-content-end">
                    <style>
                        .circle {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: #525AF2;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: white;
                            font-weight: bold;
                        }
                    </style>
                    <div class="circle">
                        @ViewData["TotalLibros"]
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Total (USD)</p>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <p>@ViewData["TotalUSD"]</p>
                </div>
                <input type="submit" class="btn btn-success w-100 text-black" style="background-color:#7CC6ED" value="Completar">
            </div>
        </div>
    </div>
</div>